/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.body-min {
  min-height: 87vh;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.contrast-color {
  color: chocolate;
  font-size: 2.5em;
}

.site-color {
  color: black;
  background: yellowGreen;
}

.new-white {
  color: white;
}

a {
  color: black;
}

.color-black {
  color: black;
  /*text-decoration: underline;*/
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 87vh
}

.picture-box {
  height: 280px;
  width: 400px;
}

.card-size {
  height: 200px;
  width: 200px;
}

.portrait-size {
  height: 400px;
  width: 400px;
}

.advertise-image {
  height: 100px;
  width: 180px;
}

.icon-image {
  height: 30px;
  width: 30px;
}

.bz-style {
 display: flex;
 flex-direction: row;
 /*flex-wrap: wrap;*/
 /*justify-content: center;*/
 padding-top: 5em;
}

.padding-on-top {
 padding-top: 5em;
}

.bottom-barrier {
  padding-bottom: 3em;
}

.perfect-form {
  padding-top: 3em;
}

.perfect-align {
 display: flex;
 justify-content: space-between;
 padding-right: 3em;
}

.perfect-text {
  padding-left: 3em;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: black;
  padding: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
